/**************
GENERAL
font-family: 'Open Sans', sans-serif;
font-family: 'Caveat', cursive;
****************/

* {
 /* border: 1px solid red;*/
}

body {
  background-color: #FEFEFE;
  font-family: 'Open Sans', sans-serif;
  color: #3C3744;
  font-size: 16px;
 /* padding: 1rem;*/
}

section {
/*  border: 1px solid green;*/
  margin: 0 auto;
  width:  75%;
  text-align: center;
/*  height: 40rem;*/
/*  vertical-align: middle;*/
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}

h2, h3 {
  font-family: 'Caveat', cursive;
  font-size: 2.2rem;
  text-align: center;
}

a {
  border: 1px solid #3C3744;
  border-radius: 3px;
  margin: 0 auto;
  width: 10rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #FEFEFE;
  background-color: #3C3744;
}

a:hover {
  background-color: #5F5B66;
}

a:link {
  /*color: #FEFEFE;*/
  text-decoration: none;
}

a:visited {
  /*color: #FEFEFE;*/
  color: #FEFEFE;
}

img {
  /*border: 1px solid #827F88;*/
  border-radius: 3px;
/*  box-shadow: 1px #827F88;*/
}

/**************
Nav Bar
****************/

nav {
  position: fixed;
  top: 0;
  background-color: #3C3744;
  color: FEFEFE;
  width: 100%;
  height: 6.2rem;
/*  margin-bottom: 5rem;*/
}

nav img {
  margin-top: 5px;
/*  border: none;*/
}

.nav-links {
  text-align: right;
}

.nav-links li {
  display: inline;
  line-height: 4rem;
  margin-right: 1rem;
}


/*a:hover {
  font-size: 1.2rem;
}*/

/**************
HOME
****************/

.home {
  padding-top: 15rem;
  padding-bottom: 10rem;
  margin-bottom: 5rem;
  border-bottom: 3px solid #3C3744;
/*  margin-bottom: 12rem;*/
  text-align: center;
/*  height: 15rem;*/
}

.home h2, h3 {
  margin-top: 0;
  margin-bottom: 2rem;
}

/**************
RECENT WORK
****************/

.recent-work img {
  width: 80%;
}

.project-link {
  background-color: #FEFEFE;
  border: none;
}

.project-link:hover {
  background-color: #FEFEFE;
}



/*header {
  display: inline-flex;
  border-bottom: solid #3C3744;
  width: 100%;
  border-bottom-color: #3C3744;
}

header h1 {
  display: inline-block;
  font-size: 3em;
  width: 50%;
}*/

/*header li {
  display: inline;
  list-style: none;
  margin-left: 1em;
  width: 60%;
}*/

/**************
Footer
****************/

body {
 /* display: flex;
  flex-direction: column;*/
 /* min-height: 100vh;*/
}

/*.row {
  flex: 1;
}*/

footer {
  height: 60px;
  text-align: center;
/*  vertical-align: middle;*/
  border-top: solid #3C3744;
  margin-top: 2rem;
  padding-bottom: 1rem;
  display: block;
}

/**************
About
****************/
/*.about {
  font-size: 1.2em;
}*/

/**************
Resume
****************/
/*.resume p {
  margin-top: 0;
}

.border {
  border-bottom: 2px groove rgba(60, 55, 68, .2);
}

.bullet {
  list-style-type: square;
}*/

/**************
Contact
****************/
/*.contact li {
  list-style: none;
}

.socialmedia li {
  display: inline;
}*/

