/**************
GENERAL
font-family: 'Open Sans', sans-serif;
font-family: 'Caveat', cursive;
****************/

* {
 /* border: 1px solid red;*/
 box-sizing: border-box;
}

body {
  background-color: #FEFEFE;
  font-family: 'Open Sans', sans-serif;
  color: #3C3744;
  font-size: 16px;
}

section {
  margin: 0 auto;
/*  width:  75%;*/
  text-align: center;
}

h1 {
  font-size: 2.2rem;
}

h2, h3 {
  font-family: 'Caveat', cursive;
  font-size: 2.2rem;
}

a {
  border-radius: 3px;
  text-decoration: none;
  color: #FEFEFE;
  padding: 0.5rem;
}

a:visited {
  color: #FEFEFE;
}

a:hover {
  background-color: #5F5B66;
}

img {
  border-radius: 3px;
}

/***************
NAV BAR
****************/

nav {
  position: fixed;
  top: 0;
  background-color: #3C3744;
  color: FEFEFE;
  width: 100%;
  height: 6.2rem;
}

nav img {
  margin-top: 5px;
  
}

.nav-links {
  text-align: right;
}

.nav-links li {
  display: inline;
  line-height: 4rem;
  margin-right: 1rem;
}

/***************
HOME
****************/

.home {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 5rem;
  border-bottom: 3px solid #3C3744;
}

.home h2, h3 {

}

/***************
RECENT WORK
****************/

.recent-work {
  width: 75%;
}

.recent-work img {
  width: 80%;
}

.recent-work a,
.recent-work a:hover {
  background-color: #FEFEFE;
}

/***************
GET IN TOUCH
****************/

.get-in-touch {
  border-top: 3px solid #3C3744;
}

.get-in-touch a[href^="mailto:"] {
  color: #3C3744;
}

.get-in-touch a:visited {
  color: #3C3744;
}

.get-in-touch a:hover {
  background-color: #FEFEFE;
}




/**************
Footer
****************/

footer {
  text-align: center;
  border-top: solid #3C3744;
  margin-top: 2rem;
}


