/**************
GENERAL
font-family: 'Open Sans', sans-serif;
font-family: 'Caveat', cursive;
****************/

* {
 /* border: 1px solid red;*/
}

body {
  background: #FEFEFE;
  font-family: 'Open Sans', sans-serif;
  color: #3c3744;
  font-size: 16px;
 /* padding: 1rem;*/
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}

h2, h3 {
  font-family: 'Caveat', cursive;
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  border: 1px solid #3c3744;
  border-radius: 3px;
  margin: 0 auto;
  width: 10rem;
  padding: 0.5rem;
  text-decoration: none;
  background-color: #3c3744;
}


/**************
Nav Bar
****************/

nav {
  position: fixed;
  top: 0;
  background-color: #3c3744;
  color: FEFEFE;
  width: 100%;
  height: 6rem;
/*  margin-bottom: 5rem;*/
}

nav img {
  margin-top: 5px;
}

.nav-links {
  text-align: right;
}

.nav-links li {
  display: inline;
  line-height: 4rem;
  margin-right: 1rem;
}

a:link {
  /*color: #FEFEFE;*/
  color: pink;
  text-decoration: none;
}

a:visited {
  /*color: #FEFEFE;*/
  color: #FEFEFE;
}

/*a:hover {
  font-size: 1.2rem;
}*/

/**************
Home
****************/

.home {
  margin-top: 7rem;
  text-align: center;
  height: 100vh;
  vertical-align: middle;
}




/*header {
  display: inline-flex;
  border-bottom: solid #3c3744;
  width: 100%;
  border-bottom-color: #3c3744;
}

header h1 {
  display: inline-block;
  font-size: 3em;
  width: 50%;
}*/

/*header li {
  display: inline;
  list-style: none;
  margin-left: 1em;
  width: 60%;
}*/

/**************
Footer
****************/

/*body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  flex: 1;
}

footer {
  height: 60px;
  text-align: center;
  border-top: solid #3c3744;
  padding-top: 1em;
  display: block;
}*/

/**************
About
****************/
/*.about {
  font-size: 1.2em;
}*/

/**************
Resume
****************/
/*.resume p {
  margin-top: 0;
}

.border {
  border-bottom: 2px groove rgba(60, 55, 68, .2);
}

.bullet {
  list-style-type: square;
}*/

/**************
Contact
****************/
/*.contact li {
  list-style: none;
}

.socialmedia li {
  display: inline;
}*/

