/***************
ANIMATION
****************/

@keyframes fadeIn {
  0% {opacity: 0;}
  100$ {opacity: 1;}
}

/***************
GENERAL
font-family: 'Open Sans', sans-serif;
font-family: 'Caveat', cursive;
****************/

* {
 /* border: 1px solid red;*/
 box-sizing: border-box;
}

body {
  background-color: #5F;
  font-family: 'Open Sans', sans-serif;
  color: #3C3744;
  font-size: 16px;
}

section {
  margin: 0 auto;
/*  width:  75%;*/
  text-align: center;
}

h1 {
  font-size: 2.2rem;
}

h2, h3 {
  font-family: 'Caveat', cursive;
  font-size: 2.2rem;
}

a {
  border-radius: 3px;
  text-decoration: none;
  color: #FEFEFE;
  padding: 0.5rem;
}

a:visited {
  color: #FEFEFE;
}

img {
  border-radius: 3px;
}

/***************
NAV BAR
****************/

nav {
  position: fixed;
  top: 0;
  background-color: #3C3744;
  color: FEFEFE;
  width: 100%;
  height: 6.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

nav img {
  margin-top: 15px;
  display: inline;
  float: left;
}

#nav-links {
  float: right;
  text-align: right;
  background-color: #3C3744;
}

#nav-links a:hover{
  background-color: #5F5B66;
}

#nav-links li {
  display: inline-block;
  line-height: 4rem;
  margin-right: 1rem;
}

.hidden-links {
  float: left;
}

/***************
HOME
****************/

.home {
  width: 100%;
  /*height: 100vh;*/
  padding-top: 10rem;
  padding-bottom: 5rem;
  border-bottom: 3px solid #3C3744;
}

.home h1 {
  animation-duration: 2s;
  animation-name: fadeIn;
}

.home h2,
.home a {
  animation-duration: 5s;
  animation-name: fadeIn;
}

.home a {
  background-color: #3C3744;
}

/***************
RECENT WORK
****************/

.recent-work {
  width: 75%;
  color: #3C3744;
}

.recent-work div {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.recent-work img {
  width: 80%;
}

.recent-work a,
.recent-work a:hover {
  background-color: #FEFEFE;
}

.recent-work div p {
  margin: 0 auto;
  width: 75%;
}

.recent-work div:nth-child(odd) {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/***************
GET IN TOUCH
****************/

.get-in-touch {
  border-top: 3px solid #3C3744;
}

.get-in-touch a[href^="mailto:"] {
  color: #3C3744;
}

.get-in-touch a:visited {
  color: #3C3744;
}

.get-in-touch a:hover {
  background-color: #FEFEFE;
}

/***************
FONT-AWESOME
****************/

.fa-bars {
  color: #FEFEFE;
  display: inline-block;
  visibility: hidden;
}

/***************
FOOTER
****************/

footer {
  text-align: center;
  border-top: solid #3C3744;
  margin-top: 2rem;
}

/***************
MEDIA-QUERIES
****************/

@media only screen and (max-width: 900px) {
  .hidden-links {
    display: none;
  }

  .fa-bars {
    visibility: visible;
  }
}
















